@font-face {
    font-family: authentic sans 60;
    src: url(./fonts/authenticsans-60.woff);
    font-weight: normal;
}

@font-face {
    font-family: authentic sans 90;
    src: url(./fonts/authenticsans-90.woff);
    font-weight: 300;
}

@font-face {
    font-family: authentic sans 130;
    src: url(./fonts/authenticsans-130.woff);
    font-weight: 500;
}

@font-face {
    font-family: authentic sans 150;
    src: url(./fonts/authenticsans-150.woff);
    font-weight: bold;
}

@font-face {
    font-family: authentic sans condensed 60;
    src: url(./fonts/authenticsans-Condensed-60.woff);
    font-weight: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans condensed 90;
    src: url(./fonts/authenticsans-Condensed-90.woff);
    font-weight: 300;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans condensed 130;
    src: url(./fonts/authenticsans-Condensed-130.woff);
    font-weight: 500;
    font-stretch: condensed;
}

@font-face {
    font-family: authentic sans condensed 150;
    src: url(./fonts/authenticsans-Condensed-150.woff);
    font-weight: bold;
    font-stretch: condensed;
}

@font-face {
    font-family: MissFajardose-Regular;
    src: url(MissFajardose-Regular.ttf) format("truetype");
}

@font-face {
    font-family: PPEditorialNew Thin Italic;
    src: url(PPEditorialNew-ThinItalic.woff);
}

@font-face {
    font-family: PPEditorialNew Thin;
    src: url(PPEditorialNew-Thin.woff);
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    background-color: black;
    font-size: 2vw;
    font-family: 'authentic sans 60', arial, sans-serif;
    color: grey;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.8);
}

/* header {
    color: darkgray;
    font-family: 'authentic sans 90', arial, sans-serif;
} */

a {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

a:hover{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: azure;
}

div {
    padding: 1vw;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
    line-height: 2vw;
}

img {
    margin-left: auto;
    margin-right: auto;
}

span {
    font-size: 1.5vw;
}

.menu {
    color: crimson;
    text-shadow: -2px -2px 2px rgba(255, 0, 0, 0.5), 2px 2px 2px rgba(255, 0, 0, 0.5);
}

.box{
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.card {
    display: inline-grid;
    width: 45vw;
    height: 95vh;
    box-shadow: 0px 0 20px 0 whitesmoke;
}

.logo {
    justify-content: center;
    width: 5vw;
}

#video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
}

#video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

source {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* #cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
}

#rotating-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

#content {
    padding: 20px;
    display: none;
} */

#s-font {
    font-family: MissFajardose-Regular;
}

#font {
    font-family: 'PPEditorialNew Thin Italic', garamond, serif;
    font-style: italic;
}

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* #gutter {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 100000;
} */

